
/* Text should be Verdana, 10pt=13px, darker gray */
p {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #666666; 
}


/* Links should be Verdana, 10pt, dark blue-green: http://www.colorcombos.in/3FA680 */
a {
  color: #3fa680;  
}

/* Headers should be orange: http://www.colorcombos.in/e25500*/
h {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #163b2e;
}
