/* Pages should have a fairly thick margin */
body {
  margin: 160px;
}

/* Text should be Verdana, 10pt, slightly dark gray */
p {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #666666; 
  max-width: 600px;
}


/* Links should be dark blue-green (http://www.colorcombos.in/3FA680) and open in new tabs */
a {
  color: #3FA680;  
  text-decoration: none;
  target-new: tab;
}

/* Headers should be orange: http://www.colorcombos.in/e25500*/
h1 {
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e25500;
}
