/* PAGES should have a fairly thick margin */
body {
  margin: 160px 160px 160px 200px;
}


/* HEADERS should be orange: http://www.colorcombos.in/e25500*/
h1 {
  font-family: Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #e25500;
}
h2 {
  margin-top:60px;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #e25500;
}


/* TEXT should be Verdana, 10pt, slightly dark gray, kept narrow (like a column) */
p {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #666666; 
  max-width: 700px;
}


/* LIST ITEMS should be Verdana, 10pt, slightly dark gray, slightly narrower than text */
li {
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: #666666; 
  max-width: 600px;
}


/* LINKS should be dark blue-green (http://www.colorcombos.in/3FA680) and open in new tabs */
a {
  color: #3FA680;  
  text-decoration: none;
  font-weight: bold;
  target-new: tab;
}
