


/* PAGES should have a fairly thick margin */
body {
    margin: 50px 140px 140px 200px;
    background-color: #ffffff;
} 

/* ALL TEXT is Verdana */
* {
    font-family: Verdana, sans-serif;
}

/* Text should be grey, limited to 700 px wide */
p, li {
    max-width: 700px;
    font-size: 11px;
    color: #666666;
}

/* Set all list bullets to solid disc */
ul {
    list-style-type: disc;
}

/* LINKS should be dark blue-green h(ttp://www.colorcombos.in/3FA680) */
a {
    color: #3FA680;  
    text-decoration: none;
    font-weight: bold;
}



/* TABLE OF CONTENTS */
/* Table background should be light grey */
table {
    border: 1px solid #dddddd;
    background-color: #f8f8f8;
    width: 800px;
}
/* No bullet points for list items */
table ul {
    list-style-type: none;
}
/* Some padding between list items */
table li {
    padding-top: 2px;
}
/* Make nested list items lighter and smaller */
table li a {
    font-size: 16px;
    color: #235D47;
}
table li li a {
    color: #318164;
    font-size: 14px;
}
table li li li a {
    color: #3FA680;  
    font-size:12px;
}




/* HEADERS are anchors, but shouldn't be colored like other links */
/* They should get lighter shades of orange as they decrease in size */
h1 a, h1 a:hover {
    color: #e25500;
    font-size: 22px;
}
h2 a, h2 a:hover {
    color: #FC5F00;
    font-size: 18px;
}
h3 a, h3 a:hover {
    color: #FF6E16;
    font-size: 14px;
}
h4 a, h4 a:hover {
    color: #FF7E30;
    font-size: 12px;
}
h5 a, h5 a:hover {
    color: #FF8E4A;
    font-size: 10px;
}
