

/* TABLES are slightly indented */
table {
    margin: 30px;
}



/* TABLE HEADERS */
th {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: left;
}
/* TABLE HEADERS are anchors, but should be always orange */
th a, th a:hover {
    color: #FF8133;
    font-weight: bold;
    font-size: 13px;
}




/* CATEGORY NAMES should be right aligned, as well as orange and bolded */
td.category {
    color: #FFB433;
    font-weight: bold;
    font-size: 9px;
    text-align: right;
    vertical-align: center;
    padding-bottom: 15px;
    width: 120px;
}


/* TABLE CELLS */
td li {
    margin-left: -30px;
    list-style-type: none;
}


