


/* BLURB */
table#blurb {
    border: solid 1px #e8e8e8;
    background-color: #f8f8f8;
    width: 800px;
    text-align: left;
    padding: 10px;
    margin-left: 30px;
} 
table#blurb p { 
    padding-left: 0px;  
}
table#blurb ul li {
    list-style-type: disc;
    color: #666666;
    margin-left: -15px;
}
table#blurb * {
    font-size: 11px;
}



/* LIST has no bullets */
ul { list-style-type: none; }

/* LIST ITEMS should be lighter grey and smaller sized */
li, li b, li a { font-size: 11px; }
li { color: #C8C8C8; margin-left: 30px; }